.App {
  text-align: center;
}
 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 
.App-link {
  color: #61dafb;
}
 
.mdb-navbar {
  background-image: url('./Assest/backgd2.png');
  height: 70vh;
  width : 70vw;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-repeat:space;
  background-position: 'center', 
}

.mdb-navbar1 {
  background-image: url('./Assest/images.jpg');
  height: 100%;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-repeat:space;
  background-position: 'center', 
}


.about-style{
  background-image: url('./Assest/backgd1.png');
  padding: auto;
  height: 70vh;
  /* width :  70vw; */
  align-items: center;
  text-align: center;
  background-color: bisque;
  background-size: cover;
  background-repeat:space;
  background-position: 'center', 
  
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color:darkturquoise;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.adminDash{
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
}

.data{
  height: 70vh;
  overflow-y: auto;
}

.align {
  padding: 100px;
  margin-left: 100px;
  
}

.alignment{
  margin-left: 300px;
}

.alignment1{
  margin-left: 100px;
}

.ref{
  height: 88vh;
  width: 202vh;
  font-size: 24px;
  color: white;
}

.font{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  color: blue;
  margin-left: 500px;
  margin-bottom: 50px;
}

.font2{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  color: black;
  margin-top: 50px;
  margin-left: 500px;
  margin-bottom: 70px;
}

.font1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  color: blue;
  margin-left: 250px;
  margin-bottom: 50px;
}
 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}